<div layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools" style="background-color: lightblue;">
            <h2>Editar Prato</h2>
            <span flex></span>
        </div>
    </md-toolbar>
        
    
        <md-content class="md-padding">
            <div layout="row">
                <md-input-container flex>
                    <label>Nome</label>
                    <input name="nome" ng-model="vm.dataset.NomeDoPrato" type="text" ng-required="true">        
                </md-input-container flex>
            </div>   
        </md-content>    
    
        </md-content>
        <md-dialog-actions layout="row">
            <div layout="row" layout-align="start center">
                <md-button type="reset" class="md-warn">Limpar
                    <md-icon md-svg-src="assets/img/eraser.svg"></md-icon>
                </md-button>
                <md-button class="md-warn " ng-click= vm.cancelar()>Cancelar
                    <md-icon md-svg-src="assets/img/cancel.svg"></md-icon>
                </md-button>
                <md-button type="submit" ng-click="vm.form.$valid && vm.salvaPrato()"  aria-label="Salvar Dados"> Salvar
                   <md-icon md-svg-src="assets/img/save.svg"></md-icon>
                </md-button>
            </div>     
        </md-dialog-actions>   
</div>