<div layout="row">
    <div ng-if="vm.dataset.length == 0" class="span">
    <span>Não existe pacientes cadastrados no momento</span>
</div>
    <md-card width="50" class="row-card md-whiteframe-80dp" ng-repeat="pacientes in vm.dataset" >
        <div layout="column" layout-align="center center">  
            <img ng-src="/assets/img/door.svg" class="md-avatar icon-lista" alt="Paciente"/>                   
            <span class="font-size-18 texto-cinza-medio negrito"> {{pacientes.nome}}</span>
        </div>
    </md-card>
</div>


