<div layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools" style="background-color: lightblue;">
            <h2>Editar Usuário</h2>
            <span flex></span>
        </div>
    </md-toolbar>
        
    <form name="vm.usuarioForm">     
        <md-content class="md-padding">
            <h1 class="md-display-1">Dados Pessoais: </h1>
            <div layout="row">
                <md-input-container flex>
                    <label>Nome</label>
                    <input name="nome" required ng-model="vm.ds.nome"> 
                    <div ng-messages="vm.usuarioForm.nome.$error">
                        <div ng-message="required">Este campo é obrigatório</div>
                    </div>	             
                </md-input-container flex>
                <md-input-container flex>
                    <label>Senha</label>
                    <input type="{{vm.tipo}}" name="senha" required ng-model="vm.ds.senha"> 
                    <div ng-messages="vm.usuarioForm.senha.$error">
                        <div ng-message="required">Este campo é obrigatório</div>
                    </div>	             
                </md-input-container>
                <md-button ng-click="vm.show(vm.status)" class="md-icon-button">
                    <md-tooltip md-direction="top">Exibir Senha?</md-tooltip> 
                    <md-icon md-svg-icon="assets/img/{{vm.status}}.svg"></md-icon>
                </md-button>
                <md-input-container flex ng-show="vm.usuarioForm.senha.$valid">
                        <label>Confirme a Senha</label>
                        <input type="password" name="senha1" ng-model="vm.ds.usuarioSenha1" required ng-pattern="vm.ds.senha" > 
                        <div ng-messages="vm.usuarioForm.senha1.$error">
                            <div ng-message="required">Este campo é obrigatório</div>
                            <div ng-message="pattern">Senhas nao correspondem</div>
                        </div>	             
                </md-input-container>  
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label>Email</label>
                    <input type="email" name="email" required ng-model="vm.ds.email" placeholder="Ex: email@mail.com"> 
                    <div ng-messages="vm.usuarioForm.email.$error">
                        <div ng-message="required">Este campo é obrigatório</div>
                    </div>	             
                </md-input-container>  
            </div>         
        </md-content>    
    </form>
        </md-content>
        <md-dialog-actions layout="row">
          
            <span flex></span>
            <md-button class="md-warn md-raised" ng-click="vm.cancelar()" >
                Cancelar
            </md-button>
            <md-button class="md-primary md-raised"  ng-click="vm.salvar()" style="margin-right:20px;" ng-disabled="vm.usuarioForm.$invalid" >
                Salvar
            </md-button>
        </md-dialog-actions>    
    </form>
</div>