<md-toolbar>
    <md-fab-actions class="md-toolbar-tools">
        
        <md-button class="md-icon-button" ng-click="vm.novoRestaurante()">
            <md-tooltip md-direction="right">Novo Restaurante</md-tooltip>
            <md-icon md-svg-src="assets/img/plus.svg"></md-icon>
        </md-button>
            
    </md-fab-actions>
</md-toolbar>
<div layout="column">
    <div ng-if="vm.dataset.length == 0" class="span">
        <span>Não existe restaurantes cadastrados no momento</span>
    </div>
                <div class="span" >
                    <table class="table">
                        <thead>
                            <tr>Restaurantes </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="restaurantes in vm.dataset">
                                <td> <md-icon md-svg-src="assets/img/pencil-edit-button.svg " ng-click="vm.editaRestaurante(restaurantes.id)"> Editar </md-button></td>
                                <td> <md-icon md-svg-src="assets/img/delete.svg"  ng-click="vm.excluiRestaurante($event,restaurantes)"> Excluir</md-button></td>
                                <td>{{restaurantes.nomeDoRestaurante}} </td>
                            </tr>
                        </tbody>
                    </table>
                
            
        </div>    
    </md-card>
    
</div>


