

<div layout="column">
  <div>
    <h3> Filtro </h3>
  </div>
  <div layout="row">
<h4>Nome :</h4>
  <md-autocomplete required class="autocomplete"
    md-selected-item="vm.query.item"
    md-input-maxlength="50" 
    md-search-text="vm.query.text"
    md-selected-item-change="vm.dados(restaurante)"
    md-items="restaurante in vm.listaRestaurante(vm.query.text)"
    md-item-text="restaurante.nomeDoRestaurante"
    md-floating-label="Nome do Restaurante">
      <md-item-template>

        <span md-highlight-text="vm.query.text">  {{ restaurante.nomeDoRestaurante}}</span>
      </md-item-template>
  </md-autocomplete>
  <div layout="row" layout-align="end">
    <h3> Pesquisando {{vm.query.text ? vm.query.text : null}} nos {{vm.nomeDoRestaurante ? vm.nomeDoRestaurante : 'Restaurantes'}}</h3>
  </div>
</div>
<div>
  <md-toolbar>
    <md-fab-actions class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="vm.novoRestaurante()">
            <md-tooltip md-direction="right">Cadastrar Restaurante</md-tooltip>
            <md-icon md-svg-src="assets/img/plus.svg"></md-icon>
        </md-button>
    </md-fab-actions>
  </md-toolbar>
<div>
  
  <div layout="row" layout-align=" center" ng-if="(vm.dataset | filter: vm.nomeDoRestaurante).length == 0">
    <span class="notFound">Nenhum restaurante encontrado!</span>
    <br>
    <img ng-src="assets/img/not-found.svg"  class="img-404">
  </div>
    <md-card class="row-card md-whiteframe-20dp" ng-repeat="restaurante in vm.dataset | filter: filter: vm.nomeDoRestaurante">
      <div layout="row">
        <div layout="column" flex>
            <div layout="row">
                <span flex></span>                 
                <md-menu>
                    <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                        <img src="/assets/img/mote_vert.png" >                     
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="vm.editaRestaurante(restaurante.id)"> Editar </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.excluiRestaurante($event,restaurante)"> Excluir</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <div layout="column" layout-align="start start">               
                <span class="font-size-18 texto-cinza-medio negrito"> Restaurantes: {{restaurante.nomeDoRestaurante}}</span>
            </div>
        </div>
    </div>    
    </md-card>
  </div>
</div> 

    
